<main>
	<div class='container container__userSetting'>
		<div class='card'>
			<h1 class='card-title'>Настройки пользователя</h1>
			<div>
				<div class="userSetting__avatar">
					<button class="userSetting__avatar-btn">Изменить фото</button>
						<img src={{avatarBg}} alt="изображение пользователя">
					
				</div>
			</div>
			<ul class='elements-wrap__column userSetting__setting-list'>
				<li class='userSetting__setting-item'>
					<span>Почта</span>
					{{> TextField  type='email' class='input__primary' name='email' }}
				</li>
				<li class='userSetting__setting-item'>
					<span>Логин</span>
					{{> TextField  type='text' class='input__primary' name='login' }}
				</li>
				<li class='userSetting__setting-item'>
					<span>Имя</span>
					{{> TextField  type='text' class='input__primary' name='first_name' }}
				</li>
				<li class='userSetting__setting-item'>
					<span>Фамилия</span>
					{{> TextField  type='text' class='input__primary' name='second_name' }}
				</li>
				<li class='userSetting__setting-item'>
					<span>Телефон</span>
					{{> TextField  type='tel' class='input__primary' name='phone' }}
				</li>
			</ul>
			<div class='elements-wrap__column'>
				{{> Button title='Изменить данные' filled='true' id='changeUserInfoBtnEdit'}}
				{{> Button title='Изменить пароль' filled='true'}}
				{{> Button title='Выйти' filled='true'}} 
			</div>
			<div>{{> SwitcherPages}}</div> 
		</div>
	</div>
</main>

