.btn {
	padding: 8px 12px;
	cursor: pointer;
	min-height: 32px;
	width: 100%;
	border: 1px solid transparent;
	border-radius: $borderRadius;
	color: white;

	&-wrap {
		width: 100%;
	}

	&-primary__filled {
		border: 1px solid $primary;
		background-color: $primary;
	}

	&-primary__outlined {
		border: 1px solid $primary;
		background-color: transparent;
	}

	&-primary__link {
		background-color: transparent;
		border: 1px solid transparent;
		color: $primary;
	}
}
