<main>
	<div>
		<div class="container container__errorPage">
			<div class='elements-wrap__column'>
				<h1 class='text-error fw-bold fs-large'>500 Error</h1> 
				<p>Мы уже фиксим</p>
			<a href="chatsList" class='link'>Вернутся к чатам</a>
		</div>
		</div>
		<div>{{>SwitcherPages}}</div>
	</div>
</main>