<button class='switcherPages'>
	<span
		class='material-symbols-outlined'
		id='switcherPagesIcon'
	>filter_none</span>
	<nav>
		<ul class='switcherPages__links fs-normal' id='switcherPagesLinks'>
			{{#each links}}
				<li class='switcherPages__item'>
					<a href={{href}} class='switcherPages__link'>{{name}}</a>
				</li>
			{{/each}}
		</ul>
	</nav>
</button>
