@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.fw-bold {
	font-weight: 700;
}

.fs-normal {
	font-size: 16px;
}

.fs-medium {
	font-size: 22px;
}

.fs-large {
	font-size: 26px;
}
