.other-message,
.my-message {
	display: flex;
	width: fit-content;
	max-width: 400px;
	padding: 8px;
	background-color: $grayBase;
	border-radius: $borderRadius * 2;
	margin: 8px;
}

.other-message {
}
.my-message {
	background-color: $primary;
	color: white;
	margin-left: auto;
}
